openapi: 3.0.3
info:
  title: Beyond room energy simulation API
  description: |-
    This is the preliminary OpenAPI specification for project Beyond to start room energy simulations and retrieve results asynchronously
  version: 1.0.0
servers:
  - url: https://beyond.dilt.at/api/v1
tags:
  - name: simulation
    description: Simulation operations
paths:
  /simulation:
    post:
      tags:
        - simulation
      summary: Start a simulation
      requestBody:
        description: Simulation parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/T_SimulationParameters'
                
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T_SimulationResponse'

  /simulation/{id}:
    get:
      tags:
        - simulation
      summary: Get simulation result by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T_Simulation'
        '404':
          description: simulation not found
components:
  schemas:
    T_Simulation:
      type: object
      properties:
        id:
          type: string
          example: 12345
        status:
          type: string
          enum: [ STARTED, RETRY, FAILURE, SUCCESS ]
        heating_energy_consumption:
          type: number
        cooling_energy_consumption:
          type: number
        date_done:
          type: string
          format: 'date-time'
    T_SimulationResponse:
      type: object
      properties:
        id:
          type: string
          example: 12345
    T_SimulationParameters:
      type: object
      properties:
        wall_insulation_thickness:
          description: Wall insulation thickness (m)
          type: number
        window_u_value:
          description: Window U-value (W/m2K)
          type: number
        window_shgc:
          description: Window SHGC (ratio)
          type: number
        window_shading_control:
          description: Window shading control (W/m2)
          type: number
        thermostat_setpoint:
          description: Cooling/heating thermostat setpoints (C)
          type: number