openapi: 3.0.3
info:
  description: This is the preliminary OpenAPI specification for project Beyond to
    start room energy simulations and retrieve results asynchronously
  title: Beyond room energy simulation API
  version: 1.0.0
servers:
- url: https://beyond.dilt.at/api/v1
tags:
- description: Simulatioon operations
  name: simulation
paths:
  /simulation:
    get:
      operationId: simulation_get
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T_SimulationArray'
          description: successful operation
      summary: Get a list of all simulations
      tags:
      - simulation
      x-openapi-router-controller: app.controllers.simulation_controller
    post:
      operationId: simulation_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/T_SimulationParameters'
        description: Simulation parameters
      responses:
        "200":
          description: successful operation
      summary: Start a simulation
      tags:
      - simulation
      x-openapi-router-controller: app.controllers.simulation_controller
  /simulation/{id}:
    get:
      operationId: simulation_id_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/T_Simulation'
          description: successful operation
        "404":
          description: simulation not found
      summary: Get simulation result by id
      tags:
      - simulation
      x-openapi-router-controller: app.controllers.simulation_controller
components:
  schemas:
    T_Simulation:
      example:
        result: 0.8008281904610115
        id: "12345"
        status: pending
      properties:
        id:
          example: "12345"
          title: id
          type: string
        status:
          enum:
          - pending
          - finished
          - error
          title: status
          type: string
        result:
          title: result
          type: number
      title: T_Simulation
      type: object
    T_SimulationArray:
      items:
        $ref: '#/components/schemas/T_Simulation'
      type: array
    T_SimulationParameters:
      properties:
        wall_insulation_thickness:
          description: Wall insulation thickness (m)
          title: wall_insulation_thickness
          type: number
        window_u_value:
          description: Window U-value (W/m2K)
          title: window_u_value
          type: number
        window_shgc:
          description: Window SHGC (ratio)
          title: window_shgc
          type: number
        window_shading_control:
          description: Window shading control (W/m2)
          title: window_shading_control
          type: number
        thermostat_setpoint:
          description: Cooling/heating thermostat setpoints (C)
          title: thermostat_setpoint
          type: number
      title: T_SimulationParameters
      type: object
